.header{
    min-height: 100vh;
}
.header-content{
    min-height: calc(100vh - 106px);
    flex-direction: column;
}
.header-title{
    font-size: 4.1rem;
    line-height: 1.2;
}
.header-content .para-text{
    padding: 3.6rem 0;
    max-width: 600px;
    margin: 0 auto;
}

@media(min-width: 992px){
    .header-content{
        flex-direction: row;
    }
    .header-content--right{
        text-align: left;
        width: 50%;
    }
    .header-content--left{
        width: 50%;
    }
    .header-content--right .para-text{
        margin-left: 0;
    }
}