.container{
  max-width: 1177px;
  margin: 0 auto;
  padding: 0 2rem;
}
.section-padding{
  padding: 10rem 0;
}
.flex{
  display: flex;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid{
  display: grid;
}

/* section */
.section-title{
  margin-bottom: 4rem;
  color: var(--black-color);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 4rem;
}
.section-padding{
  padding: 10rem 0;
}

/* texts and paras */
.para-text{
  line-height: 1.7;
  font-weight: 300;
  opacity: 0.95;
  letter-spacing: 1px;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-upper{
  text-transform: uppercase;
}
.text-cap{
  text-transform: capitalize;
}
.text-blue{
  color: var(--robin-blue-color);
}
.text-dark{
  color: var(--black-color);
}
.text-light{
  color: var(--white-color)!important;
}
.text-grey{
  color: var(--grey-color);
}


/* fonts */
.fw-2{font-weight: 200;}
.fw-2{font-weight: 300;}
.fw-2{font-weight: 400;}
.fw-2{font-weight: 500;}
.fw-2{font-weight: 600;}
.fw-2{font-weight: 700;}
.fw-2{font-weight: 800;}

/* bgs and colors */
.bg-blue{
  background-color: var(--robin-blue-color);
}
.bg-dark{
  background-color: var(--black-color);
}
.bg-light{
  background-color: var(--white-color);
}
.bg-whitesmoke{
  background-color: var(--whitesmoke-color);
}
.bg-grey{
  background-color: var(--grey-color);
}

/* btns */
.btn{
  display: inline-block;
  min-height: 54px;
  line-height: 54px;
  padding: 0 4.7rem;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.7rem;
  font-weight: 500;
  transition: var(--transition);
}
.btn-blue{
  background-color: var(--robin-blue-color);
}
.btn-blue:hover{
  background-color: #0fb9b4;
}

/* letter spacing */
.ls-1{
  letter-spacing: 1px;
}
.ls-2{
  letter-spacing: 2px;
}